body{
    background-color: rgb(3, 112, 145);
}

.box1{
    height: 100px;
    background-color: rgb(24, 158, 211);
    padding-top: 30px;
    display: flex;
}

.box2{
    height: 418px;
    background-color: rgb(0, 89, 253);
}

.box3{
    height: 300px;
    background-color: rgb(11, 182, 204);
}

.box3Card{
    height: 300px;
}

.box4{
    height: 300px;
    background-color: rgb(3, 112, 145);
    justify-content: center;
    display: flex;
}

.card{
    padding-left: 0px;
    padding-right: 0px;
}

.card-text{
    font-size: 14px;
}

.card-title{
    font-size: 17px;
}

.currentCity{
    font-size: 40px;
}

.fiveDayCard{
    padding-left: 0px;
    padding-right: 0px;
    height: 120px;
}

h2{
    color: white;
}

li{
    list-style-type: none;
}

.mainCard{
    padding: 10px;
}

.navbar{
    background-color: rgb(0, 83, 109);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchForm{
    padding-right: 0px;
}

.searchIcon{

    height: 39px;
}

.titleUV{
    padding-left: 10px;
}

.uvIndex{
    padding-top: 10px;
    padding-right: 5px;
}

.uvIndexIcon{
    background-color: red;
    border: 5px;
    padding: 10px;
    border-radius: 10px;
}

ul{
    display: contents;
}

.uvIndexItems{
    display: flex;
}