navbar{
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: gray;
}

body{
    background-color: rgb(3, 112, 145);
}

.box1{
    height: 100px;
    background-color: rgb(0, 183, 255);
    padding-top: 30px;
}

.box2{
    height: 500px;
    background-color: rgb(0, 89, 253);
}

.box3{
    height: 300px;
    background-color: rgb(11, 182, 204);
}

.box3Card{
    height: 300px;
}

.box4{
    height: 300px;
    background-color: rgb(3, 112, 145);
    justify-content: center;
    display: flex;
}

.currentCity{
    font-size: 40px;
}

.fiveDayForecastCard{
}

li{
    list-style-type: none;
}

navbar{
    background-color: rgb(0, 108, 170);
    color: white;
}